<body>
    <div style = "display: inline-block">Div 1</div>
    <div style="display: inline-block">Div 2</div>
    <div style="display: inline-block">Div 3</div>
    <hr />
    <div>
      <p>
        <span style="width: 200px; height: 100px; background-color: yellow"
          >Snan 1</span
        >
      </p>

      <p>
        <span style="width: 200px; height: 100px; background-color: yellow"
          >Snan 2</span
        >
      </p>

      <p>
        <span style="width: 200px; height: 100px; background-color: yellow"
          >Snan 3</span
        >
      </p>
    </div>
  </body>